:root{
  --color-nav:#1876f2;
  --color-primary: #277ff2;
  --color-body:#efefef;
  --color-text:  #626262;
  --color-secondery-text: #9a9a9a;
  --color-background:#fff;
}
.dark-theme{
  --color-body: #0f0f0f;
  --color-nav: #000;
  --color-background: #000;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

html{
  font-size: 62.5%;
}
body{
  background:var(--color-body);
  color: var(--color-text);
  transition: background 0.3s;
}
/* Navigation Bar*/

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:var(--color-nav);
  padding: 0.5rem 5rem;
  position: sticky;
  top: 0;
  z-index: 100;
}
.nav-left,
.nav-right{
  display: flex;
  align-items: center;
}
.logo{
  width: 16rem;
  margin-right: 4.5rem;
}
.nav-left ul li{
  list-style: none;
  display: inline-block;
  
}
.nav-left .icon{
  width: 2.8rem;
  margin: 0 1.5rem;
}
.nav-user img,
.user img{
  width: 4rem;
  border-radius: 100%;
  cursor: pointer;

}
.search-box{
  background: var(--color-body);
  width: 35rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  padding: 0.8rem 2rem;
  margin-right: 3rem;

}

.search-box img{
  width: 1.8rem;
}
.search-box input{
  width: 100%;
  border: 0;
  outline: none;
  background: transparent;
  padding: 0 1.5rem;
  color: var(--color-secondery-text);
}

.online{
  position: relative;

}
.online::after{
  background: #41db51;
  border-radius: 100%;
  border: 2px solid #fff;
  content: '';
  height: 0.7rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 0.7rem;
}

/* body Section*/
.container{
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 5%;
}

.left-sidebar,
.right-sidebar
 {
  flex-basis: 25%;
  position: sticky;
  top: 7rem;
  align-self: flex-start;
}


.main-content{
  flex-basis: 47%;
  position: relative;

}

/* Left Sidebar */
.important-links a,
.shortcuts a{
  text-decoration: none;
  display: flex;
  align-items: center;
  width: fit-content;
  color: var(--color-text);
  margin-bottom: 3rem;
  font-size: 1.2rem;

}
.important-links img{
  width: 2.2rem;
  margin-right: 1.5rem;
}
.important-links a:last-child{
  color: var(--color-primary);
}
.important-links{
  border-bottom: 1px solid #ccc;
}
.shortcuts h2{
  color: var(--color-text);
  font-weight: 500;
  margin: 1.5rem 0;
}

.shortcuts img{
  width: 3.5rem;
  border-radius: 4px;
  margin-right: 1.5rem;
}

/* Right Sidebar*/

.right-sidebar{
  background:var(--color-background);
  padding: 2rem;
  border-radius: 0.5rem;
}

.sidebar-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.sidebar-title h2{
  font-size: 1.5rem;
  font-weight: 600;
}
.sidebar-title a{
  color: var(--color-primary);
  text-decoration: none;
  font-size: 1.2rem;
}
.event{
  display: flex;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  align-items: center;
  

}
.event-left{
  height: 60px;
  width: 60px;
  border-radius: 1rem;
  margin-right: 1.5rem;
  text-align: center;
  padding-top: 1rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);

}
.event-left span{
  background: var(--color-primary);
  font-size: 1rem;
  width: 100%;
  color: #fff;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.3rem 0;
}
.event h3{
  font-size: 1.4rem;
  font-weight: 600;
}
.event p{
  font-size: 1.2rem;
}
.event a{
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--color-primary);
}

.sidebar-ads{
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.online-user{
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}
.online-user .online{
  margin-right: 1.5rem;
}

.online-user .online::after{
  top: unset;
  bottom: 3px;
}

/* Main Content Section*/
/*story*/

.story-gallery{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.story{
  flex-basis: 18%;
  padding-top: 32%;
  position: relative;
  background-position: center;
  background-size: cover;
  border-radius: 1rem;

}

.story img{
  position: absolute;
  width: 4.5rem;
  border-radius: 100%;
  top: 10px;
  left: 10px;
  border: 4px solid var(--color-primary);
}
.story p{
  position: absolute;
  bottom: 10px;
  width: 100%;
  font-size: 1.4rem;
  text-align: center;
  color: #fff;
}
.story-1{
  background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(../images/status-1.png);
 
}
.story-2{
  background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(../images/status-2.png);
 
}
.story-3{
  background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(../images/status-3.png);
}
.story-4{
  background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(../images/status-4.png);
  
}
.story-5{
  background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(../images/status-5.png);
 
}

.story.story-1 img{
  top: unset;
  left: 50%;
  bottom: 35px;
  transform: translateX(-50%);
  border: 0;
  width: 3.5rem;

}

/* Post */

.post-container{

  width: 100%;
  background: var(--color-background);
  border-radius: 0.5rem;
  padding: 2rem;
  margin-bottom: 2rem;

}
.user-profile{
  display: flex;
  align-items: center;

  
}
.user-profile img{
  width: 4.5rem;
  border-radius: 100%;
  margin-right: 1.5rem;
}
.user-profile p{
  font-size: 1.4rem;
  font-weight: 500;

}


.post-input-container{
  padding-right: 2rem;
  padding-left: 8rem;
}
.post-input-container textarea{
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  resize: none;
  background: transparent;
  color: var(--color-secondery-text);
}

.post-links{
  display: flex;
  padding-top: 1rem;
}
.post-links a{
  display: flex;
  align-items: center;
  margin-right: 2rem;
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--color-text);
}
.post-input-container a img{
  width: 2rem;
  margin-right: 1rem;
}
.user-profile span{
  color:var(--color-secondery-text);
 
}

.post-text{
  font-size: 1.5rem;
  color: var(--color-secondery-text);
  padding: 1.5rem 0;
}
.post-text a{
  text-decoration: none;
  color: var(--color-primary);
}
.post-image{
  width: 100%;
  border-radius: .5rem;
  margin-bottom: 1rem;

}

.post-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-row i{
  font-size: 1.5rem;
  color: var(--color-secondery-text);
}
.activity-icons{
  display: inline-flex;
  align-items: center;
  padding: 0 1rem;
}
.activity-icons div img{
  width: 1.8rem;
  margin-right: 1rem;
}
.activity-icons div{
  display: inline-flex;
  align-items: center;
  margin-right: 2rem;
}
.post-profile-icons{
  display: flex;
  align-items: center;
}
.post-profile-icons img{
  width: 2rem;
  border-radius: 100%;
  margin-right: 0.5rem;

}
.post-profile-icons a i{
  font-size: 1rem;
}
.btn-load-more{
  display: block;
  margin: auto;
  border: 1px solid var(--color-secondery-text);
  border-radius: 0.5rem;
  color: var(--color-secondery-text);
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}
.footer{
text-align: center;
font-size: 1.3rem;
color: var(--color-secondery-text);
padding: 2rem ;
}

.settings-menu{
  position: absolute;
  width: 90%;
  max-width: 315px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  right: 5%;
  top: 110%;
  background:var(--color-background);
  border-radius: 0.5rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;

}
.settings-menu-toggle{
  max-height: 400px;
}
.settings-menu-container{
  padding: 2rem;
}
.settings-menu hr{
  background: var(--color-secondery-text);
  margin: 0.5rem 0 1rem 0;
  border: 0;
  height: 1px;
}

/* Setting menu*/

.user-profile a{
  text-decoration: none;
  color: var(--color-primary);
}

.settings-links{
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.settings-links-icon{
  width: 3.8rem;
  margin-right: 1rem;
  border-radius: 100%;
}
.settings-links a{
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--color-secondery-text);
}

/* Dark theam*/
#dark-btn{
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: #ccc;
  border-radius: 15px;
  width: 40px;
  padding: 0.2rem 0.3rem;
  cursor: pointer;
  display: flex;
  transition: padding-left 0.5s, background 0.5s;
}
#dark-btn span{
  height: 1.8rem;
  width: 1.8rem;
  background: #fff;
  border-radius: 100%;
  display: inline-block;
}
#dark-btn.dark-btn-on{
  padding-left: 20px;
  background: #0f0f0f;
}

/* profile Page*/
.profile-container{
  padding: 2rem 15%;
 
}
.cover-image{
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}

/* Profile Details*/

.profile-detail{
  background: var(--color-background);
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.profile-detail-left-row{
  display: flex;
  align-items: flex-start;
}
.profile-detail-image{
  width: 9rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
}

.profile-detail-left-row div h3{
  font-size: 2.2rem;
  font-weight: 600;
}
.profile-detail-left-row div p{
  font-size: 1.2rem;
}
.profile-detail-left-row div img{
  width: 2.5rem;
  border-radius: 100%;
  margin-top: 1rem;

}

.profile-detail-right button{
  background: var(--color-primary);
  border: none;
  outline: none;
  margin-left: 1rem;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.profile-detail-right button img{
  height: 1.5rem;
  margin-right: 1rem;
}
.profile-detail-right button:first-child{
  background: #e7e6e6;
  color:#000;
}

.profile-detail-right{
  text-align: right;
}

.profile-detail-right a{
  background:#e7e6e6;
  padding: 1rem;
  border-radius: 0.3rem;
  display: inline-flex;
  margin-top: 3rem;
}
.profile-detail-right a img{
  width: 2rem;
}

/* Profole info*/

.profile-info{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 2rem;
}

.info-column{
  flex-basis: 33%;
}
.post-column{
  flex-basis: 65%;
}

/* Profile introduction*/
.profile-intro{
  background: var(--color-background);
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  padding: 2rem;
}
.profile-intro h2{
  font-size: 1.8rem;
  font-weight: 600;
}
.intro-text{
  font-size: 1.3rem;
  text-align: center;
  margin: 0.5rem 0;
  
}

.intro-text img{
  height: 1.5rem;
  margin-bottom: -0.3rem;
}

.profile-intro hr{
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 2rem 0;
}

.profile-intro ul li{
  list-style: none;
  font-size: 1.3rem;
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
}
.profile-intro ul li img{
  width: 3rem;
  margin-right: 1rem;
}

/* Photo Container*/
.title-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-container a{
  text-decoration: none;
  color: var(--color-primary);
}

.photo-container{
  display: grid;
  grid-template-columns: repeat(3,auto);
  gap: 1rem;
  margin-top: 1rem;
}
.photo-container div img{
  width: 100%;
  cursor: pointer;
  border-radius: 0.2rem;
}
.friend-container div{
  position: relative;
  padding-bottom: 1.3rem;
}
.friend-container div p{
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Media query*/

@media screen and (max-width: 900px) {
  .left-sidebar,
  .right-sidebar{
    display: none;
  }

  .s
  
}
